<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectITREQUEST"
          connectionString="Data Source=10.65.0.6\SQLEXPRESS;Initial Catalog=IT_REQUEST;Persist Security Info=True;User ID=sa;Password=Abc@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>